{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivos{% endblock title %}
{% block description %}Página com todos os vídeos gratuitos. {% endblock description %}

{% block body %}
  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-4 mb-3">Lista de vídeos aperitivos</h3>
                <ol>
                    {% for video in videos %}
                    <li>{{video.titulo | default:'Faltando Título'}}</li>
                    {% empty %}
                    <h3 class='text-danger'>Não foi encontrado nenhum vídeo</h3>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock body %}